/* .row{
    margin-left: 0% !important;
    margin-right: 0% !important;
}
.margin-left{
    margin-left: auto !important;
}
#wow{
    width: 220px;

     } */
/* login form */
/* .row{
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}
body{
background-color: springgreen;
}
section{
display: flex;
justify-content: center;
align-items: center;
} */
/* landing page css */
/* navbar */
/* ###########################################################################*/
/* general */
main{
    background-color: #E8E4E6;
}
.content{
    max-width: 1128px;
    margin:auto;
}
/* paddings */
.content-p{
    padding:50px ;
}

.btn{
    border-radius: 25px;
    background-color:#D0D0D0;
    color: white;
    display: grid;
    place-items: center;
    width:200px;
}
/* border raduis */
.br-50{
    border-radius: 50%;
}
/* background colors */
.bg-nav{
    background: #363636!important;
}
.bg-prime{
    background-color: #42B130;
}
.bg-second{
    background-color: #363636;
}
/* style  header*/
.hero-header{
    height: 750px;
}
.wave{
    bottom: 0;
}
.div-parent{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.div-child1{
    min-width: 445px;
    color: white;
}
/* icons */
.icon-g{
    display: grid;
    place-items: center;
    width: 80px;
    height: 80px;
    padding: 1%;
    margin: 0 auto;
}
/* card */
.pharma-card{
    width: calc((100% / 3) - (2% * 2));
    margin: 0 2%;
    height: 250px;
    min-width: 235px;
    border: solid 3px;
    background-color: white;
    border-radius: 25px;
}
.btn-card{
    border-radius: 25px;
    background: #42B130;
    color: white;
    display: grid;
    place-items: center;
    width:200px;
}
