/* .row{
    margin-left: 0% !important;
    margin-right: 0% !important;
}
.margin-left{
    margin-left: auto !important;
}
#wow{
    width: 220px;

     } */
/* login form */
/* .row{
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}
body{
background-color: springgreen;
}
section{
display: flex;
justify-content: center;
align-items: center;
} */
/* landing page css */
/* navbar */
/* ###########################################################################*/
/* general */
.content{
    max-width: 1128px;
    margin:auto;
}
/* paddings */
.pading-p{
    padding:30px ;
}
/* background colors */
.bg-nav{
    background: #363636!important;
}
.bg-second{
    background-color: #363636;
}
/* style  header*/
.hero-header{
    height: 750px;
}
.wave{
    bottom: 0;
}
.div-parent{
    background-color: floralwhite;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.div-child1{
    min-width: 445px;
}